@import "_color.scss";

:root {
  //PRIMARY
  --a-primary-darker: #{$a-primary-darker};
  --a-primary-darker-invert: #{$a-primary-darker-invert};

  --a-primary-dark: #{$a-primary-dark};
  --a-primary-dark-invert: #{$a-primary-dark-invert};

  --a-primary: #{$a-primary};
  --a-primary-invert: #{$a-primary-invert};

  --a-primary-light: #{$a-primary-light};
  --a-primary-light-invert: #{$a-primary-light-invert};

  --a-primary-lighter: #{$a-primary-lighter};
  --a-primary-lighter-invert: #{$a-primary-lighter-invert};

  --a-primary-lightest: #{$a-primary-lightest};
  --a-primary-lightest-invert: #{$a-primary-lightest-invert};

  //SECONDARY
  --a-secondary-darker: #{$a-secondary-darker};
  --a-secondary-darker-invert: #{$a-secondary-darker-invert};

  --a-secondary-dark: #{$a-secondary-dark};
  --a-secondary-dark-invert: #{$a-secondary-dark-invert};

  --a-secondary: #{$a-secondary};
  --a-secondary-invert: #{$a-secondary-invert};

  --a-secondary-light: #{$a-secondary-light};
  --a-secondary-light-invert: #{$a-secondary-light-invert};

  --a-secondary-lighter: #{$a-secondary-lighter};
  --a-secondary-lighter-invert: #{$a-secondary-lighter-invert};

  --a-secondary-lightest: #{$a-secondary-lightest};
  --a-secondary-lightest-invert: #{$a-secondary-lightest-invert};

  //TERTIARY
  --a-tertiary-darker: #{$a-tertiary-darker};
  --a-tertiary-darker-invert: #{$a-tertiary-darker-invert};

  --a-tertiary-dark: #{$a-tertiary-dark};
  --a-tertiary-dark-invert: #{$a-tertiary-dark-invert};

  --a-tertiary: #{$a-tertiary};
  --a-tertiary-invert: #{$a-tertiary-invert};

  --a-tertiary-light: #{$a-tertiary-light};
  --a-tertiary-light-invert: #{$a-tertiary-light-invert};

  --a-tertiary-lighter: #{$a-tertiary-lighter};
  --a-tertiary-lighter-invert: #{$a-tertiary-lighter-invert};

  --a-tertiary-lightest: #{$a-tertiary-lightest};
  --a-tertiary-lightest-invert: #{$a-tertiary-lightest-invert};

  //DANGER
  --a-danger-darker: #{$a-danger-darker};
  --a-danger-darker-invert: #{$a-danger-darker-invert};

  --a-danger-dark: #{$a-danger-dark};
  --a-danger-dark-invert: #{$a-danger-dark-invert};

  --a-danger: #{$a-danger};
  --a-danger-invert: #{$a-danger-invert};

  --a-danger-light: #{$a-danger-light};
  --a-danger-light-invert: #{$a-danger-light-invert};

  --a-danger-lighter: #{$a-danger-lighter};
  --a-danger-lighter-invert: #{$a-danger-lighter-invert};

  --a-danger-lightest: #{$a-danger-lightest};
  --a-danger-lightest-invert: #{$a-danger-lightest-invert};

  //WARNING
  --a-warning-darker: #{$a-warning-darker};
  --a-warning-darker-invert: #{$a-warning-darker-invert};

  --a-warning-dark: #{$a-warning-dark};
  --a-warning-dark-invert: #{$a-warning-dark-invert};

  --a-warning: #{$a-warning};
  --a-warning-invert: #{$a-warning-invert};

  --a-warning-light: #{$a-warning-light};
  --a-warning-light-invert: #{$a-warning-light-invert};

  --a-warning-lighter: #{$a-warning-lighter};
  --a-warning-lighter-invert: #{$a-warning-lighter-invert};

  --a-warning-lightest: #{$a-warning-lightest};
  --a-warning-lightest-invert: #{$a-warning-lightest-invert};

  //SUCCESS
  --a-success-darker: #{$a-success-darker};
  --a-success-darker-invert: #{$a-success-darker-invert};

  --a-success-dark: #{$a-success-dark};
  --a-success-dark-invert: #{$a-success-dark-invert};

  --a-success: #{$a-success};
  --a-success-invert: #{$a-success-invert};

  --a-success-light: #{$a-success-light};
  --a-success-light-invert: #{$a-success-light-invert};

  --a-success-lighter: #{$a-success-lighter};
  --a-success-lighter-invert: #{$a-success-lighter-invert};

  --a-success-lightest: #{$a-success-lightest};
  --a-success-lightest-invert: #{$a-success-lightest-invert};

  //INFO
  --a-info-darker: #{$a-info-darker};
  --a-info-darker-invert: #{$a-info-darker-invert};

  --a-info-dark: #{$a-info-dark};
  --a-info-dark-invert: #{$a-info-dark-invert};

  --a-info: #{$a-info};
  --a-info-invert: #{$a-info-invert};

  --a-info-light: #{$a-info-light};
  --a-info-light-invert: #{$a-info-light-invert};

  --a-info-lighter: #{$a-info-lighter};
  --a-info-lighter-invert: #{$a-info-lighter-invert};

  --a-info-lightest: #{$a-info-lightest};
  --a-info-lightest-invert: #{$a-info-lightest-invert};

  //BLACK
  --a-black: #{$a-black};

  //BLUE
  --a-blue-lightest: #{$a-blue-lightest};
  --a-blue-lightest-invert: #{$a-blue-lightest-invert};

  //GREY
  --a-grey-darker: #{$a-grey-darker};
  --a-grey-darker-invert: #{$a-grey-darker-invert};

  --a-grey-dark: #{$a-grey-dark};
  --a-grey-dark-invert: #{$a-grey-dark-invert};

  --a-grey: #{$a-grey};
  --a-grey-invert: #{$a-grey-invert};

  --a-grey-light: #{$a-grey-light};
  --a-grey-light-invert: #{$a-grey-light-invert};

  --a-grey-lighter: #{$a-grey-lighter};
  --a-grey-lighter-invert: #{$a-grey-lighter-invert};

  --a-grey-lightest: #{$a-grey-lightest};
  --a-grey-lightest-invert: #{$a-grey-lightest-invert};

  //WHITE
  --a-white: #{$a-white};

  //TRANSPARENT
  --a-transparent: #{$a-transparent};

  //OTHER
  --a-gold: #{$a-gold};
  --a-silver: #{$a-silver};
  --a-bronze: #{$a-bronze};
  --a-orange: #{$a-orange};
  --a-yellow: #{$a-yellow};
  --a-green: #{$a-green};
  --a-turquoise: #{$a-turquoise};
  --a-cyan: #{$a-cyan};
  --a-blue-dark: #{$a-blue-dark};
  --a-blue: #{$a-blue};
  --a-purple: #{$a-purple};
  --a-red: #{$a-red};
  --a-violet: #{$a-violet};
}
