@import "_color.scss";

:root {
  //PRIMARY
  --ad-primary-darker: #{$ad-primary-darker};
  --ad-primary-darker-invert: #{$ad-primary-darker-invert};

  --ad-primary-dark: #{$ad-primary-dark};
  --ad-primary-dark-invert: #{$ad-primary-dark-invert};

  --ad-primary: #{$ad-primary};
  --ad-primary-invert: #{$ad-primary-invert};

  --ad-primary-light: #{$ad-primary-light};
  --ad-primary-light-invert: #{$ad-primary-light-invert};

  --ad-primary-lighter: #{$ad-primary-lighter};
  --ad-primary-lighter-invert: #{$ad-primary-lighter-invert};

  --ad-primary-lightest: #{$ad-primary-lightest};
  --ad-primary-lightest-invert: #{$ad-primary-lightest-invert};

  //SECONDARY
  --ad-secondary-darker: #{$ad-secondary-darker};
  --ad-secondary-darker-invert: #{$ad-secondary-darker-invert};

  --ad-secondary-dark: #{$ad-secondary-dark};
  --ad-secondary-dark-invert: #{$ad-secondary-dark-invert};

  --ad-secondary: #{$ad-secondary};
  --ad-secondary-invert: #{$ad-secondary-invert};

  --ad-secondary-light: #{$ad-secondary-light};
  --ad-secondary-light-invert: #{$ad-secondary-light-invert};

  --ad-secondary-lighter: #{$ad-secondary-lighter};
  --ad-secondary-lighter-invert: #{$ad-secondary-lighter-invert};

  --ad-secondary-lightest: #{$ad-secondary-lightest};
  --ad-secondary-lightest-invert: #{$ad-secondary-lightest-invert};

  //TERTIARY
  --ad-tertiary-darker: #{$ad-tertiary-darker};
  --ad-tertiary-darker-invert: #{$ad-tertiary-darker-invert};

  --ad-tertiary-dark: #{$ad-tertiary-dark};
  --ad-tertiary-dark-invert: #{$ad-tertiary-dark-invert};

  --ad-tertiary: #{$ad-tertiary};
  --ad-tertiary-invert: #{$ad-tertiary-invert};

  --ad-tertiary-light: #{$ad-tertiary-light};
  --ad-tertiary-light-invert: #{$ad-tertiary-light-invert};

  --ad-tertiary-lighter: #{$ad-tertiary-lighter};
  --ad-tertiary-lighter-invert: #{$ad-tertiary-lighter-invert};

  --ad-tertiary-lightest: #{$ad-tertiary-lightest};
  --ad-tertiary-lightest-invert: #{$ad-tertiary-lightest-invert};

  //DANGER
  --ad-danger-darker: #{$ad-danger-darker};
  --ad-danger-darker-invert: #{$ad-danger-darker-invert};

  --ad-danger-dark: #{$ad-danger-dark};
  --ad-danger-dark-invert: #{$ad-danger-dark-invert};

  --ad-danger: #{$ad-danger};
  --ad-danger-invert: #{$ad-danger-invert};

  --ad-danger-light: #{$ad-danger-light};
  --ad-danger-light-invert: #{$ad-danger-light-invert};

  --ad-danger-lighter: #{$ad-danger-lighter};
  --ad-danger-lighter-invert: #{$ad-danger-lighter-invert};

  --ad-danger-lightest: #{$ad-danger-lightest};
  --ad-danger-lightest-invert: #{$ad-danger-lightest-invert};

  //WARNING
  --ad-warning-darker: #{$ad-warning-darker};
  --ad-warning-darker-invert: #{$ad-warning-darker-invert};

  --ad-warning-dark: #{$ad-warning-dark};
  --ad-warning-dark-invert: #{$ad-warning-dark-invert};

  --ad-warning: #{$ad-warning};
  --ad-warning-invert: #{$ad-warning-invert};

  --ad-warning-light: #{$ad-warning-light};
  --ad-warning-light-invert: #{$ad-warning-light-invert};

  --ad-warning-lighter: #{$ad-warning-lighter};
  --ad-warning-lighter-invert: #{$ad-warning-lighter-invert};

  --ad-warning-lightest: #{$ad-warning-lightest};
  --ad-warning-lightest-invert: #{$ad-warning-lightest-invert};

  //SUCCESS
  --ad-success-darker: #{$ad-success-darker};
  --ad-success-darker-invert: #{$ad-success-darker-invert};

  --ad-success-dark: #{$ad-success-dark};
  --ad-success-dark-invert: #{$ad-success-dark-invert};

  --ad-success: #{$ad-success};
  --ad-success-invert: #{$ad-success-invert};

  --ad-success-light: #{$ad-success-light};
  --ad-success-light-invert: #{$ad-success-light-invert};

  --ad-success-lighter: #{$ad-success-lighter};
  --ad-success-lighter-invert: #{$ad-success-lighter-invert};

  --ad-success-lightest: #{$ad-success-lightest};
  --ad-success-lightest-invert: #{$ad-success-lightest-invert};

  //INFO
  --ad-info-darker: #{$ad-info-darker};
  --ad-info-darker-invert: #{$ad-info-darker-invert};

  --ad-info-dark: #{$ad-info-dark};
  --ad-info-dark-invert: #{$ad-info-dark-invert};

  --ad-info: #{$ad-info};
  --ad-info-invert: #{$ad-info-invert};

  --ad-info-light: #{$ad-info-light};
  --ad-info-light-invert: #{$ad-info-light-invert};

  --ad-info-lighter: #{$ad-info-lighter};
  --ad-info-lighter-invert: #{$ad-info-lighter-invert};

  --ad-info-lightest: #{$ad-info-lightest};
  --ad-info-lightest-invert: #{$ad-info-lightest-invert};

  //BLACK
  --ad-black: #{$ad-black};

  //GREY
  --ad-grey-darker: #{$ad-grey-darker};
  --ad-grey-dark: #{$ad-grey-dark};
  --ad-grey: #{$ad-grey};
  --ad-grey-light: #{$ad-grey-light};
  --ad-grey-lighter: #{$ad-grey-lighter};
  --ad-grey-lightest: #{$ad-grey-lightest};

  //WHITE
  --ad-white: #{$ad-white};

  //OTHER
  --ad-gold: #{$ad-gold};
  --ad-silver: #{$ad-silver};
  --ad-bronze: #{$ad-bronze};
  --ad-orange: #{$ad-orange};
  --ad-yellow: #{$ad-yellow};
  --ad-green: #{$ad-green};
  --ad-turquoise: #{$ad-turquoise};
  --ad-cyan: #{$ad-cyan};
  --ad-blue-dark: #{$ad-blue-dark};
  --ad-blue: #{$ad-blue};
  --ad-purple: #{$ad-purple};
  --ad-red: #{$ad-red};
  --ad-violet: #{$ad-violet};
}
