//PRIMARY
$ad-primary: #007bff;
$ad-primary-invert: #fff;

$ad-primary-dark: darken($ad-primary, 10%);
$ad-primary-dark-invert: #fff;

$ad-primary-darker: darken($ad-primary, 20%);
$ad-primary-darker-invert: #fff;

$ad-primary-light: lighten($ad-primary, 10%);
$ad-primary-light-invert: #000;

$ad-primary-lighter: lighten($ad-primary, 20%);
$ad-primary-lighter-invert: #000;

//DANGER
$ad-danger: #dc3545;
$ad-danger-invert: #fff;

$ad-danger-dark: darken($ad-danger, 10%);
$ad-danger-dark-invert: #fff;

$ad-danger-darker: darken($ad-danger, 20%);
$ad-danger-darker-invert: #fff;

$ad-danger-light: lighten($ad-danger, 10%);
$ad-danger-light-invert: #000;

$ad-danger-lighter: lighten($ad-danger, 20%);
$ad-danger-lighter-invert: #000;

//SUCCESS
$ad-success: #28a745;
$ad-success-invert: #fff;

$ad-success-dark: darken($ad-success, 10%);
$ad-success-dark-invert: #fff;

$ad-success-darker: darken($ad-success, 20%);
$ad-success-darker-invert: #fff;

$ad-success-light: lighten($ad-success, 10%);
$ad-success-light-invert: #000;

$ad-success-lighter: lighten($ad-success, 20%);
$ad-success-lighter-invert: #000;


$ad-info: #17a2b8;
$ad-info-light: lighten($ad-info, 10%);
$ad-info-dark: darken($ad-info, 10%);
$ad-warning: #ffc107;
$ad-warning-light: lighten($ad-warning, 10%);
$ad-warning-dark: darken($ad-warning, 10%);
$ad-black: #000;
$ad-black-bis: #363636;
$ad-black-ter: #4a4a4a;
$ad-grey-darker: #777777;
$ad-grey-dark: #999999;
$ad-white: #fff;
$ad-grey: #cccccc;
$ad-grey-light: #e5e5e5;
$ad-grey-lighter: #f5f5f5;
$ad-white-ter: #f8f8f8;
$ad-white-bis: #ffffff;
$ad-gold: #ffd700;
$ad-silver: #c0c0c0;
$ad-bronze: #cd7f32;
$ad-orange: #ff8c00;
$ad-yellow: #ffff00;
$ad-green: #008000;
$ad-turquoise: #40e0d0;
$ad-cyan: #00ffff;
$ad-blue: #303778;
$ad-purple: #800080;
$ad-red: #ff0000;

:root {
    //PRIMARY
    --ad-primary: #{$ad-primary};
    --ad-primary-invert: #{$ad-primary-invert};
    
    --ad-primary-dark: #{$ad-primary-dark};
    --ad-primary-dark-invert: #{$ad-primary-dark-invert};
    
    --ad-primary-darker: #{$ad-primary-darker};
    --ad-primary-darker-invert: #{$ad-primary-darker-invert};
    
    --ad-primary-light: #{$ad-primary-light};
    --ad-primary-light-invert: #{$ad-primary-light-invert};

    --ad-primary-lighter: #{$ad-primary-lighter};
    --ad-primary-lighter-invert: #{$ad-primary-lighter-invert};

    //DANGER
    --ad-danger: #{$ad-danger};
    --ad-danger-invert: #{$ad-danger-invert};
    
    --ad-danger-dark: #{$ad-danger-dark};
    --ad-danger-dark-invert: #{$ad-danger-dark-invert};
    
    --ad-danger-darker: #{$ad-danger-darker};
    --ad-danger-darker-invert: #{$ad-danger-darker-invert};
    
    --ad-danger-light: #{$ad-danger-light};
    --ad-danger-light-invert: #{$ad-danger-light-invert};

    --ad-danger-lighter: #{$ad-danger-lighter};
    --ad-danger-lighter-invert: #{$ad-danger-lighter-invert};
    
    //SUCCESS
    --ad-success: #{$ad-success};
    --ad-success-invert: #{$ad-success-invert};
    
    --ad-success-dark: #{$ad-success-dark};
    --ad-success-dark-invert: #{$ad-success-dark-invert};
    
    --ad-success-darker: #{$ad-success-darker};
    --ad-success-darker-invert: #{$ad-success-darker-invert};
    
    --ad-success-light: #{$ad-success-light};
    --ad-success-light-invert: #{$ad-success-light-invert};

    --ad-success-lighter: #{$ad-success-lighter};
    --ad-success-lighter-invert: #{$ad-success-lighter-invert};

    --ad-info: #{$ad-info};
    --ad-info-light: #{$ad-info-light};
    --ad-info-dark: #{$ad-info-dark};
    --ad-warning: #{$ad-warning};
    --ad-warning-light: #{$ad-warning-light};
    --ad-warning-dark: #{$ad-warning-dark};
    --ad-danger: #{$ad-danger};
    --ad-danger-light: #{$ad-danger-light};
    --ad-danger-dark: #{$ad-danger-dark};
    --ad-success: #{$ad-success};
    --ad-success-light: #{$ad-success-light};
    --ad-success-dark: #{$ad-success-dark};
    --ad-black: #{$ad-black};
    --ad-black-bis: #{$ad-black-bis};
    --ad-black-ter: #{$ad-black-ter};
    --ad-grey-darker: #{$ad-grey-darker};
    --ad-grey-dark: #{$ad-grey-dark};
    --ad-white: #{$ad-white};
    --ad-grey: #{$ad-grey};
    --ad-grey-light: #{$ad-grey-light};
    --ad-grey-lighter: #{$ad-grey-lighter};
    --ad-white-ter: #{$ad-white-ter};
    --ad-white-bis: #{$ad-white-bis};
    --ad-gold: #{$ad-gold};
    --ad-silver: #{$ad-silver};
    --ad-bronze: #{$ad-bronze};
    --ad-orange: #{$ad-orange};
    --ad-yellow: #{$ad-yellow};
    --ad-green: #{$ad-green};
    --ad-turquoise: #{$ad-turquoise};
    --ad-cyan: #{$ad-cyan};
    --ad-blue: #{$ad-blue};
    --ad-purple: #{$ad-purple};
    --ad-red: #{$ad-red};
}