$basePath: "/@ui-kit";

// Local Fonts
@font-face {
  font-family: "Poppins";
  src: url($basePath + "/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url($basePath + "/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url($basePath + "/assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-poppins: "Poppins", sans-serif;
}

// Mixin Variants
@mixin font-variant($font-family, $weight, $style) {
  font-family: #{$font-family};
  font-weight: $weight;
  font-style: $style;
}

// Mulitples Variants
.jacquarda-poppins {
  @include font-variant(var(--font-poppins), 400, normal);
}

.jacquarda-poppins-b {
  @include font-variant(var(--font-poppins), bold, normal);
}

$material-symbols-font-path: $basePath + '/node_modules/material-symbols/';
@import 'material-symbols';